
.takeaway-circle {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 20px;
  /*background: linear-gradient(to bottom, #423e3e, black);*/
  background:black

}

.circle1:before {
  content: 'Circle 1';
  position: absolute;
  width:100%;
  font-size: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: 55%;
  left:50%;
  color: rgba(52, 51, 51, 0.97);
  transform: translateX(-50%);
}


.circle2:before {
  content: 'Circle 2';
  position: absolute;
  width:100%;
  font-size: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: 55%;
  left:50%;
  color: rgba(52, 51, 51, 0.97);
  transform: translateX(-50%);
}

.circle3:before {
  content: 'Circle 3';
  position: absolute;
  width:100%;
  font-size: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: 55%;
  left:50%;
  color: rgba(52, 51, 51, 0.97);
  transform: translateX(-50%);
}

.circle4:before {
  content: 'Circle 4';
  position: absolute;
  width:100%;
  font-size: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: 55%;
  left:50%;
  color: rgba(52, 51, 51, 0.97);
  transform: translateX(-50%);
}

.circle5:before {
  content: 'Circle 5';
  position: absolute;
  width:100%;
  font-size: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: 55%;
  left:50%;
  color: rgba(52, 51, 51, 0.97);
  transform: translateX(-50%);
  background:black;
}


.content{
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.content .table-heading{
  color:#fff;
  font-size:3rem;
  padding-left:10%
}

.content .imgBx{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition:0.4s;
}

.content .imgBx img{
  width: 250px;
  height: 250px;
  margin:20px;
  border-radius:50%;
  object-fit: cover;
  background-size: cover
}

.content .imgBx div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.takeaway-background{
  min-height:100vh;
  background-color:black;
}

.takeawaytext{
  /*max-width: 700px;*/
  padding-top: 20px
}

.takeawaytext h2{
  color:red;
  font-size:2.2rem;
  font-weight:800 !important;
  /*padding: 20px;*/
  margin-top:0;
  text-transform:capitalize;
  text-align:center
}

.takeawaytext h3{
  color:red;
  font-size:1.5rem;
  font-weight:500;
  text-align:center
}

.takeawaytext ul li{
  color:#fff;
  font-size:1.8rem;
  padding:15px;
}
